<!DOCTYPE html>
<html lang="ca">

<head>
    <meta charset="UTF-8" />
    {% block head %}{% endblock %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/css/style.css" />
    <link rel="stylesheet" href="/static/css/normalize.css">
    <title>{% block title %}Programació i Robòtica{% endblock %}</title>
    <link rel="stylesheet" href="/static/css/nav.css" />
</head>

<body>
    {% include 'partials/nav.html' %}
    <div class="content">{% block content %}{% endblock %}</div>
    {% include 'partials/footer.html' %}
</body>

</html>