<head>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<footer class="shadow-container">
    <p class="credits">
        Un projecte de: <a target="_blank" href="https://giuli.cat">Pau Giuli</a><br>
        Contribucions al projecte per part de: <a target="_blank" href="https://github.com/pgiuli/gestor-codi/graphs/contributors">Angelillo15 i Rafa Lebrón</a>
    </p>
    <section class="icons">
        <a href="https://github.com/pgiuli/gestor-codi" target="_blank">
            <img class="icon"  src="/static/svg/github.svg" alt="">
        </a>
    </section>
</footer>