<head>
    <link rel="stylesheet" href="/static/css/footer.css">
</head>

<footer class="shadow-container">
    <p class="credits">
        Creat per: <a target="_blank" href="https://giuli.cat">Pau Giuli</a>, <a target="_blank"
            href="https://angelillo15.es/">Angelillo15</a> i <a target="_blank" href="https://ralemac.dev">Rafa Lebrón</a>
    </p>
    <section class="icons">
        <a href="https://github.com/pgiuli/gestor-codi" target="_blank">
            <img class="icon"  src="/static/svg/github.svg" alt="">
        </a>
    </section>
</footer>