.credits {
    text-align: center;
    font-size: medium;
}

.credits a {
    transition: all 0.3s ease;
    color: var(--buton-color);
    text-decoration: none;
    font-weight: 600;
}

.credits a:hover {
    color: var(--button-color-hover);
}

.icons {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.icon {
    width: 30px;
    height: 30px;
    margin: 0 5px;
}

footer {
    bottom: 0;
    width: calc(100% - 80px);
    z-index: 0;
}