.mb-2 {
  margin-bottom: 0.5rem;
}

.mb-4 {
  margin-bottom: 1rem;
}

.flex {
  display: flex;
}

.hidden {
  display: none;
}

.h-64 {
  height: 16rem;
}

.h-8 {
  height: 2rem;
}

.w-8 {
  width: 2rem;
}

.w-full {
  width: 100%;
}

.cursor-pointer {
  cursor: pointer;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.rounded-lg {
  border-radius: 0.5rem;
}

.border-2 {
  border-width: 2px;
}

.border-dashed {
  border-style: dashed;
}

.border-gray-300 {
  --tw-border-opacity: 1;
  border-color: rgb(209 213 219 / var(--tw-border-opacity));
}

.bg-gray-50 {
  --tw-bg-opacity: 1;
  background-color: var(--bg-color);
  transition: color 0.3s ease;
}

.pb-6 {
  padding-bottom: 1.5rem;
}

.pt-5 {
  padding-top: 1.25rem;
}

.text-sm {
  font-size: 0.875rem;
  line-height: 1.25rem;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 1rem;
}

.font-semibold {
  font-weight: 600;
}

.text-gray-500 {
  --tw-text-opacity: 1;
  color: rgb(107 114 128 / var(--tw-text-opacity));
}

.hover\:bg-gray-100:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
}

:root.dark {
  .dark\:border-zinc-600 {
    --tw-border-opacity: 1;
    border-color: rgb(82 82 91 / var(--tw-border-opacity));
  }

  .dark\:bg-zinc-800 {
    --tw-bg-opacity: 1;
    transition: color 0.3s ease;
    background-color: var(--bg-color);
  }

  .dark\:text-gray-400 {
    --tw-text-opacity: 1;
    color: rgb(156 163 175 / var(--tw-text-opacity));
  }

  .dark\:hover\:border-zinc-500:hover {
    --tw-border-opacity: 1;
    border-color: rgb(113 113 122 / var(--tw-border-opacity));
  }

  .dark\:hover\:bg-zinc-800:hover {
    --tw-bg-opacity: 1;
    background-color: #222222
  }
}