{% extends "partials/base.html" %}
{% block title %}Gestor de trameses de Programació i Robòtica{% endblock %}

{% block content %}

<div class="shadow-container">
    <section class="introduction">
        <h1>Benvingut, {{current_user.display_name}}</h1>
        <h2>Utilitza aquesta pàgina per gestionar les tasques.</h2>
    </section>

    <a class="button primary" href="/estat">Comprova l'estat de les tasques</a>
    <a class="button primary" href="/consulta">Consulta una tasca</a>
    <a class="button primary" href="/tasques">Tasques disponibles</a>
    <a class="button primary" href="/documents">Documents i apunts</a>
    <a class="button primary" href="/puntua">Puntua una tasca</a>
    <a class="button primary" href="/add">Afegir Continguts</a>
    <a class="button primary" href="/delete">Eliminar Continguts</a>
    <a class="button primary" href="/descarrega">Descarrega totes les tasques</a>

</div>
{% endblock %}