<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Gestor Trameses</title>
    </head>
    <body>
        <header>
            <p>Hola, {{current_user.display_name}}. <a href="/logout">Surt</a></p>
        </header>
        <h1>Gestor de trameses de Programació i Robòtica</h1>
        <h2>Utilitza aquesta pàgina per entregar les teves tasques.</h2>

        <h3><a href="https://giuli.cat">Creat per: <span class="name">Pau Giuli</span></a></h3>

        <div class="btn-section"><a href="/estat">Comprova l'estat de les trameses</a></div>
        <div class="btn-section"><a href="/consulta">Consulta una tramesa</a></div>
        <div class="btn-section"><a href="/puntua">Puntua una tramesa</a></div>
        <div class="btn-section"><a href="/gestio">Gestió del gestor (haha)</a></div>
        <div class="btn-section"><a href="/descarrega">Descarrega totes les trameses</a></div>
        
        
        
        

        <div class="btn-section" style="margin-top: 5vh;"><a href=https://github.com/pgiuli/gestor-trameses >GitHub Repository</a></div>
        
    </body>
</html>