{% extends "partials/base.html" %}

{% block title %}Programació i Robòtica{% endblock %}

{% block content %}
<div class="shadow-container">
    <h1>Benvingut, {{current_user.display_name}}</h1>
    <h2>Utilitza aquesta pàgina per gestionar les teves tasques.</h2>
    
    <a class="button primary" href="/enviament">Envia una tasca</a>
    <a class="button primary" href="/estat">Comprova l'estat de les tasques</a>
    <a class="button primary" href="/tasques">Tasques disponibles</a>
    <a class="button primary" href="/consulta">Consulta una tasca</a>

</div>
{% endblock %}