<!DOCTYPE html>
<html lang="ca">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Gestor Trameses</title>
</head>
<body>
    <header>
        <p>Hola, {{current_user.display_name}}. <a href="/logout">Surt</a></p>
    </header>
    <h1>Puntua una tramesa</h1>
        {% if error %}
        <h2 class="warning">{{ error }}</h2>
        {% endif %}
    <form action="/puntua" method="post">
        <label for="user_id">Usuari:</label>
        <select name="user_id" required>
            {% for user in users %}
                <option value="{{ user[0] }}">{{ user[2] }}</option>
            {% endfor %}
        </select>
        <label for="task_id">Tasca:</label>
        <select name="task_id" required>
            {% for task in tasks %}
                <option value="{{ task[0] }}">{{ task[1] }}</option>
            {% endfor %}
        </select>

        <label for="grade">Nota:</label>
        <select name="grade" required>
            <option value="NQ">NQ</option>
            <option value="NA">NA</option>
            <option value="AS">AS</option>
            <option value="AN">AN</option>
            <option value="AE">AE</option>
        </select>

        <button type="submit">Puntua</button>
    </form>

</body>
</html>