{% extends 'partials/base.html' %} 
{% block title %}Iniciar sessió{% endblock %}
{% block content %}

<div class="shadow-container styled-form">
  <h1>Inici de sessió</h1>
  {% if error %}
  <h2 class="warning">{{ error }}</h2>
  {% endif %}
  <form action="/login" method="post">
    <label for="user_id">Usuari:</label>
    
    <select name="user_id" required>
      {% for user in users %}
      <option value="{{ user[0] }}">{{ user[2] }}</option>
      {% endfor %}
    </select>

    <label for="password">Contrasenya:</label>
    <input type="password" name="password" required />
    <button class="mt-1 button primary" type="submit">Iniciar sessió</button>
  </form>
</div>

{% endblock %}
