{% extends "partials/base.html" %}

{% block title %}Estat de les tasques{% endblock %}

{% block head %}
<link rel="stylesheet" href="/static/css/stats.css" />
{% endblock %}

{% block content %}
<div class="shadow-container">
    <h1>Estat de les tasques</h1>
    <table>
        <thead>
            <tr>
                <th>Usuari</th>
                {% for task in tasks %}
                <th>{{ task[1] }}</th>
                <!-- task[1] is the task name -->
                {% endfor %}
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{ user[2] }}</td>
                <!-- user[2] is the user's display name -->
                {% for status in user_submission_status %} {% if status[0] == user[0] %}
                <!-- status[0] is the user's id -->
                <td>{{ status[2] }}</td>
                <!-- status[2] is the submission status -->
                {% endif %} {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="button red mt-1"><a class="button-link" href="/dashboard">Torna</a></div>
</div>
{% endblock %}