<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Gestor Trameses</title>
    </head>
    <body>
        <header>
            <p>Hola, {{current_user.display_name}}. <a href="/logout">Surt</a></p>
        </header>
        <h1>Estat de les tasques</h1>
        <table>
            <thead>
                <tr>
                    <th>User</th>
                    {% for task in tasks %}
                        <th>{{ task[1] }}</th> <!-- task[1] is the task name -->
                    {% endfor %}
                </tr>
            </thead>
            <tbody>
                {% for user in users %}
                    <tr>
                        <td>{{ user[2] }}</td> <!-- user[2] is the user's display name -->
                        {% for task in tasks %}
                            <td>
                                {% for submission in submissions %}
                                    {% if submission[0] == user[0] and submission[1] == task[0] %} <!-- if there are submissions whose user is not in this user list it craps itself, i'm not going to fix it. -->
                                    ✅ - {{ submission[2] }}
                                    {% else %}
                                    ❌
                                    {% endif %}
                                {% endfor %}
                            </td>
                        {% endfor %}
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="btn-section"><a href="/dashboard">Torna</a></div>
    </body>
</html>