<!DOCTYPE html>
<html lang="ca">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/style.css">
        <title>Gestor Trameses</title>
    </head>
    <body>
        <header>
            <p>Hola, {{current_user.display_name}}. <a href="/logout">Surt</a></p>
        </header>
        <h1>Entrega de tasca</h1>
        
        <form action="/enviament" method="post" enctype="multipart/form-data">

            <label for="task_id">Tasca:</label>
            <select name="task_id" required>
                {% for task in tasks %}
                    <option value="{{ task[0] }}">{{ task[1] }}</option>
                {% endfor %}
            </select>

            <label for="file">Arxiu:</label>

            <input type="file" name="file" accept=".py" required>

            <button type="submit">Entrega</button>
        </form>

        <div class="btn-section"><a href="/dashboard">Torna</a></div>
        
    </body>
</html>